Web/App_WebReferences/cn/gov/yhzl/www/TrustInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddStdInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auth_user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="auth_pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StdId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StdType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddStdInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddStdInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRelStdInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auth_user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="auth_pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StdId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRelStdInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddRelStdInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddStdInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddStdInfo" />
  </wsdl:message>
  <wsdl:message name="AddStdInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddStdInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddRelStdInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddRelStdInfo" />
  </wsdl:message>
  <wsdl:message name="AddRelStdInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddRelStdInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="AddStdInfo">
      <wsdl:input message="tns:AddStdInfoSoapIn" />
      <wsdl:output message="tns:AddStdInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRelStdInfo">
      <wsdl:input message="tns:AddRelStdInfoSoapIn" />
      <wsdl:output message="tns:AddRelStdInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStdInfo">
      <soap:operation soapAction="http://tempuri.org/AddStdInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRelStdInfo">
      <soap:operation soapAction="http://tempuri.org/AddRelStdInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStdInfo">
      <soap12:operation soapAction="http://tempuri.org/AddStdInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRelStdInfo">
      <soap12:operation soapAction="http://tempuri.org/AddRelStdInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://www.yhzl.gov.cn/yhbzdj/YHBZWebServiceSite/TrustInterface.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://www.yhzl.gov.cn/yhbzdj/YHBZWebServiceSite/TrustInterface.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>